.digital-clock-extended {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.digital-clock-extended .digit {
  background: rgba(255, 255, 255, 1);
  font-size: 3rem;
  font-weight: 900;
  color: rgba(0, 0, 0, 1);

  padding: 32px;
  margin: 0 16px;
}

.digital-clock-extended .digit:nth-of-type(1) {
  background: rgba(255, 0, 0, 1);
}

.digital-clock-extended .digit:nth-of-type(2) {
  background: rgba(255, 255, 0, 1);
}